
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoScopes
@model CreateOrEditPromoScopeModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPromoScope")) : L("CreateNewPromoScope")))

<div class="modal-body">
        <div id="PromoScopeInformationsTab">
            <form name="PromoScopeInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PromoScope.Id" />
                }

				

				
								<div class="form-group">
									<label for="PromoScope_Description">@L("Description")</label>
									<input class="form-control" id="PromoScope_Description" value="@Model.PromoScope.Description" type="text" name="description"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
