<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-left">
                        <div class="alert alert-warning" role="alert">                            
                            Vooraleer een nieuwe actie aan te maken dient u eerst uw Forms en Messages op Company niveau in te stellen. Klik op Company Setup om verder te gaan...
                            <br />
                            Before creating a new Campaign, first you need to setup your Forms and Messages on Company level. Click on Company Setup to continue...                            
                        </div>
                    </div>
                    <div class="row align-items-left">
                        <a href="\App\Forms?category=CompanyForms" class="btn btn-primary blue float-left">Company Setup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
