
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.RejectionReasons
@model CreateOrEditRejectionReasonModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRejectionReason")) : L("CreateNewRejectionReason")))

<div class="modal-body">
    <div id="RejectionReasonInformationsTab">
        <form name="RejectionReasonInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.RejectionReason.Id" />
            }




            <div class="form-group">
                <label for="RejectionReason_Description">@L("Description")</label>
                <input class="form-control" id="RejectionReason_Description" value="@Model.RejectionReason.Description" type="text" name="description" required />
            </div>


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
