@model RMS.SBJ.Registrations.Dtos.ProcessRegistration.FormField

<h4 class="fc-title">Not Implemented Control</h4>
<p>This control hasn't been implemented yet. Details:</p>
<p>Label: @Model.FieldLabel <br /> Value: @Model.FieldValue</p>
