@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageComponentContents
@model CreateOrEditMessageComponentContentModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditMessageComponentContent")) : L("CreateNewMessageComponentContent")))

<div class="modal-body">
    <div id="MessageComponentContentInformationsTab">
        <form name="MessageComponentContentInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.MessageComponentContent.Id" />
            }
				
			<div class="form-group">
				<label for="MessageComponentContent_Content">@L("Content")</label>
				<input class="form-control" id="MessageComponentContent_Content" value="@Model.MessageComponentContent.Content" type="text" name="content" required />
			</div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
