@section Styles{
    <link href='/lib/powerbi/powerbi.css' rel='stylesheet' />
}
<script src='/lib/powerbi/powerbi.min.js'></script>
<div class="kt-portlet kt-portlet--height-fluid product-registrations-by-campaign">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Product registrations by campaign
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body tile-container" id="product-registrations-by-campaign-container">

    </div>
</div>