@*Logo on the logon page*@

@model RMS.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<div class="logo">
    <a href="~/">
        @*<img src="@Model.GetLogoUrl(ApplicationPath)" alt="" height="@Model.GetLogoHeight()" />*@
    </a>
</div>